<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron main-jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
        <br>
        <br>
        <br>
        <br>
        <div class="tagline-box">
          <h2>Does somebody owe you money?</h2>
          <p>MoneyBadger helps you reclaim your lost loan by pestering the debtor into paying up. Just enter the offender's phone number below and we'll send them a daily reminder to pay their bill!</p>
        </div>
        <p><a href="#info-jumbotron" class="mb-btn btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
      <div class="col-xs-8 col-sm-4 col-md-4 col-lg-offset-1 col-lg-4 text-center">
        <br>
        <br>
        <div class="device-mockup iphone5 portrait black">
          <div class="device">
            <div class="screen ">
              <%= image_tag('iphone_screen1.PNG', class: "iphone_screen") %>
            </div>
            <div class="button">
              <!-- You can hook the "home button" to some JavaScript events or just remove it -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron" id="info-jumbotron">
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="text-center">
          <%= image_tag('calendar.png', class: "info_icon") %>
          <h2>Time is Money</h2>
        </div>
        <p>Let's face it. You were nice enough to cover your "good buddy" for dinner and drinks last weekend, but you're not an ATM machine. He just "keeps forgetting" to send you the money despite having access to PayPal, Venmo, and a hundred other options. </p>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <%= image_tag('alarm.png', class: "info_icon") %>
          <h2>Setup Daily Reminders</h2>
        </div>
        <p>MoneyBadger simply sends a daily text message to the offender reminding him/her that it's time to pay. We'll handle the pestering reminders so you don't have to. The constant buzzing will  drive the culprit to hand over the necessary funds ASAP.</p>
     </div>
      <div class="col-md-4">
        <div class="text-center">
          <%= image_tag('bubbles.png', class: "info_icon") %>
          <h2>Cancel Anytime</h2>
        </div>
          <p>Once the debt is paid, you can cancel the daily texts anytime at the push of a button. It's that simple. The debtor will soon be pestering you to turn off the service. The power will be in your hands! Maybe they'll even offer to cover dinner next time!</p>
      </div>
    </div>
    <br>
    <div class="row text-center">
      <a href="#input-jumbotron"><button type="button" class="mb-btn btn--lg">Get Started!</button></a>
    </div>
  </div>
</div>
<div class="jumbotron" id="input-jumbotron">
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-body">                
          <form id="debt-form" role="form" action="/debts" method="post">
            <h2 class="form-title">Just One Form!</h2>
            <hr>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-4">
                  <div class="control-group">
                    <label class="control-label" for="debt[amount]">Amount Owed</label>
                    <div class="controls">
                      <input id="amount" type="text" name="debt[amount]" placeholder="Amount" class="form-control bfh-number" data-buttons="false" required>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="control-group col-sm-9">
                  <label>Debtor's Information</label>
                  <input id="debtor_name" type="text" name="debt[debtor_name]" placeholder="Debtor's Name" class="form-control" maxlength="20" required>
                  <input type="text" name="debt[debtor_phone]" placeholder="Phone Number" class="form-control bfh-phone" data-format="+1 (ddd) ddd-dddd" required>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="control-group col-sm-9">
                  <label>Your Information</label>
                  <input id="creditor_name" type="text" name="debt[creditor_name]" placeholder="Your Name" class="form-control" maxlength="20" required>
                  <input type="text" name="debt[creditor_phone]" class="form-control bfh-phone" data-format="+1 (ddd) ddd-dddd" placeholder="Phone Number" name="debt-phone" required>
                </div>
              </div>
              <br>
              <label>Your Message</label>
              <textarea id="message-box" class="form-control counted" name="debt[message]" placeholder="Type in your message here" rows="5" required>Hey &lt;debtor&gt;, you still owe &lt;you&gt; &lt;amount&gt;. Just pay him back already! Otherwise, I’ll be badging you each day until you pay! Love, MoneyBadger</textarea>
              <h6 class="pull-right" id="counter">160 characters remaining</h6>
              <button class="mb-btn btn--md" type="submit">Start Badgering!</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron" id="footer-jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="text-center">
          <%= image_tag('lock.png', class: "info_icon") %>
          <h2>Secure</h2>
        </div>
        <p>Don't you worry. We would never share your phone number. In fact, we'll delete it from our servers as soon as the debt is paid. Your privacy is incredibly important to us!</p>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <%= image_tag('cog.png', class: "info_icon") %>
          <h2>Contact Support</h2>
        </div>
          <p>If you have any questions or feedback about the service, please contact our <a class="support-link" href="mailto:corbin@corbinpage.com?Subject=Hello%20MoneyBadger%20Support">Support Team</a>. We're happy to turn off a forgotten reminder or switch up the message sent to your debtor. </p>
        <div class="text-center">
        </div>
     </div>
    </div>
  </div>
</div>