<div class="container alert-container">
  <div class="row">
<!--
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
        <%= value %>
      </div>
    <% end %> -->
  </div>
</div>
<div class="jumbotron" id="success-jumbotron">
  <div class="container">
    <div class="row">
      <span class="smilie-wrapper">
        <h1><span class="smilie-text">(-: </span><span class="congrats-text">Congratulations!</span></h1>
      </span>
    </div>
  </div>
</div>
<div class="jumbotron" id="info-jumbotron">
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="text-center">
          <%= image_tag('calendar.png', class: "info_icon") %>
          <h2>Time is Money</h2>
        </div>
        <p>Let's face it. You were nice enough to cover your "good buddy" for dinner and drinks last weekend, but you're not an ATM machine. He just "keeps forgetting" to send you the money despite having access to PayPal, Venmo, and a hundred other options. </p>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <%= image_tag('alarm.png', class: "info_icon") %>
          <h2>Setup Daily Reminders</h2>
        </div>
        <p>DebtBadger simply sends a daily text message to the offender reminding him/her that it's time to pay. We'll handle the pestering reminders so you don't have to. The perpetual rining and buzzing will  drive the culprit to hand over the necessary funds pronto.</p>
     </div>
      <div class="col-md-4">
        <div class="text-center">
          <%= image_tag('bubbles.png', class: "info_icon") %>
          <h2>Cancel Anytime</h2>
        </div>
          <p>Once the debt is paid, you can cancel the daily texts anytime at the push of a button. It's that simple. The debtor will soon be pestering YOU to turn off the service so the power will be in your hands! Maybe they'll offer to cover dinner next time!</p>
      </div>
    </div>
    <br>
    <div class="row text-center">
      <a href="#input-jumbotron"><button type="button" class="btn btn-primary btn-lg db-button">Get Started!</button></a>
    </div>
  </div>
</div>








<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @debt.amount %>
</p>

<p>
  <strong>Debtor name:</strong>
  <%= @debt.debtor_name %>
</p>

<p>
  <strong>Creditor name:</strong>
  <%= @debt.creditor_name %>
</p>

<p>
  <strong>Debtor phone:</strong>
  <%= @debt.debtor_phone %>
</p>

<p>
  <strong>Creditor phone:</strong>
  <%= @debt.creditor_phone %>
</p>

<p>
  <strong>Message:</strong>
  <%= @debt.message %>
</p>

<%= link_to 'Edit', edit_debt_path(@debt) %> |
<%= link_to 'Back', debts_path %>
