<div class="container alert-container">
  <div class="row">
    <% flash.each do |key, value| %>
      <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
      </div>
      <!--<div class="<%= flash_class(key) %>">
        <%= value %>
      </div> -->
     <% end %>
    <p id="notice"><%= notice %></p>
  </div>
<!-- </div>
<div class="jumbotron" id="success-jumbotron">
  <div class="container">
    <div class="row">
      <span class="smilie-wrapper">
        <h1><span class="smilie-text">(-: </span><span class="congrats-text">Congratulations!</span></h1>
      </span>
    </div>
  </div> -->
</div>

<% if !@debt.active %>
<div class="container">
  <div class="row complete-row">
    <div class="col-xs-12 col-md-12 text-center">
      <h2>This debt has been completed!</h2>
      <p>Thanks for using MoneyBadger!</p>
      <%= image_tag('badger_original.png', class: "complete_logo") %>
      <p>Feel free to enter a new debt <a href="<%= root_path %>">here</a> anytime!</p>
    </div>
  </div>
</div>
<% end %>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Debt Information<h2>
        <p>
          <strong><%= @debt.debtor_name %></strong> owes <strong><%= @debt.creditor_name %></strong> the amount of <strong><%= number_to_currency(@debt.amount) %></strong>.
        </p>
        <h3>Phone Numbers</h3>
        <ul>
          <li><p><%= @debt.debtor_name %>: <%= @debt.debtor_phone %></p></li>
          <li><p><%= @debt.creditor_name %>: <%= @debt.creditor_phone %></p></li>
        </ul>
        <h3>Daily Message</h3>
        <p>
          <%= @debt.message %>
        </p>
<!--    <%= link_to 'Edit', edit_debt_path(@debt) %> -->
      </div>
    </div>
  </div>
</div>
<% if @debt.active %>
<div class="container">
  <div class="row cancel-row">
    <div class="col-xs-12 col-md-12 text-center">
      <h2>Already been paid? Cancel below in one click!</h2>
      <form method="post" action="/debts/<%= @debt.id %>/deactivate">
        <div>
          <input value="Cancel" type="submit" class="btn btn--lg cancel-btn btn-danger"/>
        </div>
      </form>
    </div>
  </div>
</div>
<% end %>
<div class="jumbotron nyc-jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2>MADE IN NEW YORK</h2>
      </div>
    </div>
  </div>
</div>
