<div class="container alert-container">
  <div class="row">
<!--
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
        <%= value %>
      </div>
    <% end %> -->
    <p id="notice"><%= notice %></p>
  </div>
<!-- </div>
<div class="jumbotron" id="success-jumbotron">
  <div class="container">
    <div class="row">
      <span class="smilie-wrapper">
        <h1><span class="smilie-text">(-: </span><span class="congrats-text">Congratulations!</span></h1>
      </span>
    </div>
  </div> -->
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>
          <strong>Amount:</strong>
          <%= @debt.amount %>
        </p>
        <p>
          <strong>Debtor name:</strong>
          <%= @debt.debtor_name %>
        </p>
        <p>
          <strong>Creditor name:</strong>
          <%= @debt.creditor_name %>
        </p>
        <p>
          <strong>Debtor phone:</strong>
          <%= @debt.debtor_phone %>
        </p>
        <p>
          <strong>Creditor phone:</strong>
          <%= @debt.creditor_phone %>
        </p>
        <p>
          <strong>Message:</strong>
          <%= @debt.message %>
        </p>
<!--         <%= link_to 'Edit', edit_debt_path(@debt) %> |
        <%= link_to 'Back', debts_path %> -->
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row cancel-row">
    <div class="col-xs-12 col-md-12 text-center">
      <h2>Already been paid? Cancel below in one click!</h2>
      <a href="#"><button type="button" class="btn btn--lg cancel-btn btn-danger">Cancel</button></a>
    </div>
  </div>
</div>
<div class="jumbotron nyc-jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2>MADE IN NEW YORK</h2>
      </div>
    </div>
  </div>
</div>
